.pagescreen {
}

.contentscreen {
  position: relative;
  width: 100%;
  overflow: scroll;
}

.snap {
  height: 100vh; // for scroll screen
  scroll-snap-type: mandatory;
  scroll-snap-type: y mandatory;
}
