// text styles since there is no text component
// there are styles for h1, h2, h3, h4, and p
// to use styles, insert them in classname (e.g. <h1 className="avenir-italic inline">...</h1>)
// each has playfair, playfair-italic, avenir, avenir-italic, and respective defaults
// each also has inline if you want to use multiple styles in the same line (both lines have to have inline prop)
// each also has a right align option (but this does not work if inline is used)
// h1 also has large for bigger title and p has mini
// each text has a color classname

@use '../variables' as v;

// title
h1 {
  // default
  font-family: 'Playfair Display', serif;
  font-size: 6rem;

  &.playfair {
    font-family: 'Playfair Display', serif;
    font-weight: 900;

    &-italic {
      font-family: 'Playfair Display', serif;
      font-style: italic;
    }
  }

  &.avenir {
    font-family: 'Avenir-Black', sans-serif;

    &-italic {
      font-family: 'Avenir-Black-Italic', sans-serif;
      font-style: italic;
    }
  }

  &.inline {
    display: inline;
  }

  &.right {
    text-align: right;
  }

  &.large {
    font-size: 8rem;
  }
}

// main header
h2 {
  font-family: 'Playfair Display', serif;
  font-size: 4.5rem;

  &.playfair {
    font-family: 'Playfair Display', serif;
    font-weight: 700;

    &-italic {
      font-family: 'Playfair Display', serif;
      font-style: italic;
    }
  }

  &.avenir {
    font-family: 'Avenir-Black', sans-serif;

    &-italic {
      font-family: 'Avenir-Black-Italic', sans-serif;
      font-style: italic;
    }
  }

  &.inline {
    display: inline;
  }

  &.right {
    text-align: right;
  }
}

// secondary header
h3 {
  font-family: 'Avenir-Black', sans-serif;
  font-size: 3rem;

  &.playfair {
    font-family: 'Playfair Display', serif;
    font-weight: 700;

    &-italic {
      font-family: 'Playfair Display', serif;
      font-style: italic;
    }
  }

  &.avenir {
    font-family: 'Avenir-Black', sans-serif;

    &-italic {
      font-family: 'Avenir-Black-Italic', sans-serif;
      font-style: italic;
    }
  }

  &.inline {
    display: inline;
  }

  &.right {
    text-align: right;
  }
}

h4 {
  font-family: 'Avenir-Black', sans-serif;
  font-size: 2rem;

  &.playfair {
    font-family: 'Playfair Display', serif;
    font-weight: 400;

    &-italic {
      font-family: 'Playfair Display', serif;
      font-style: italic;
    }
  }

  &.avenir {
    font-family: 'Avenir-Book', sans-serif;

    &-italic {
      font-family: 'Avenir-Book-Italic', sans-serif;
      font-style: italic;
    }
  }

  &.inline {
    display: inline;
  }

  &.right {
    text-align: right;
  }
}

p {
  font-family: 'Avenir-Book', sans-serif;
  font-size: 1rem;

  &.playfair {
    font-family: 'Playfair Display', serif;
    font-weight: 400;

    &-italic {
      font-family: 'Playfair Display', serif;
      font-style: italic;
    }
  }

  &.avenir {
    font-family: 'Avenir-Book', sans-serif;

    &-italic {
      font-family: 'Avenir-Book-Italic', sans-serif;
      font-style: italic;
    }
  }

  &.mini {
    font-size: 0.75rem;
  }

  &.inline {
    display: inline;
  }

  &.right {
    text-align: right;
  }
}

.blue1text {
  color: v.$blue1;
}
.blue2text {
  color: v.$blue2;
}
.blue3text {
  color: v.$blue3;
}
.blue4text {
  color: v.$blue4;
}
.blacktext {
  color: v.$black;
}
.whitetext {
  color: v.$white;
}
.offwhitetext {
  color: v.$off-w;
}
.creamtext {
  color: v.$cream;
}
.redtext {
  color: v.$red;
}