@use '../variables' as v;

// scroll snapping help
// https://stackoverflow.com/questions/53416348/css-scroll-snapping-vertical-not-working

.homepage {
  background: url("/src/assets/images/textile-background.jpg") left top no-repeat;
  box-shadow: inset 0 0 0 1000px rgba(255,255,255,0.5);
}

.homepage-hero {
  position: relative;
  height: 100vh;
  width: 100%;
  // background-color: skyblue;
  scroll-snap-align: start;
  padding: 5% 10%;
}

.homepage-survey {
  position: relative;
  // background-color: lightblue;
  height: 100vh;
  width: 100%;
  scroll-snap-align: start;

  &-content {
    padding: 5% 10%;
  }
}

#homepage-survey-title {
  margin-bottom: 2rem;
}
#homepage-survey-question {
  margin-bottom: 4rem;
}

// water filling animation
//https://medium.com/swlh/css-animations-with-react-hooks-1d855dab4a3
// https://stackoverflow.com/questions/29738787/filling-water-animation

.pourAnimation {
  height: 0vh;
  width: 4rem;
  position: absolute;
  top: 0px;
  left: 50%;
  background-color: v.$blue2;
  background-image: linear-gradient(315deg, v.$blue2 0%, v.$blue3 74%);
}

.pourAnimation[animation="1"] {
  animation-name: pourAction;
  animation-timing-function: linear;
  animation-duration: 0.65s;
  animation-fill-mode: forwards; 
}

@keyframes pourAction {
  0% {
    height: 0%;
  }
  100% {
    height: 120vh;
    max-height: 120vh;
  }
}

.fillAnimation {
  // height: 1414px;
  // width: 2475px;
  position: absolute;
  // top: 1414px;
  transform: translateY(0vh);
  display: none;
}

.fillAnimation[animation="1"] {
  animation-name: fillAction;
  animation-iteration-count: 1;
  animation-timing-function: cubic-bezier(.2, .6, .8, .4);
  animation-duration: 4s;
  animation-fill-mode: forwards;
  animation-delay: 0.45s;
  display: block;
}

@keyframes fillAction {
  0% {
    // top: 1414px;
    transform: translateY(0vh);
  }
  100% {
    // top: 0px;
    transform: translateY(-150vh);
  }
}

#waveShape {
  animation-name: waveAction;
  animation-iteration-count: infinite;
  animation-timing-function: linear;
  animation-duration: 0.5s;
}

@keyframes waveAction {
  0% {
    transform: translate(-927px, 0);
  }
  100% {
    transform: translate(-309px, 0);
  }
}