#energy-button{
    background-color: #F0CF65;
    margin-bottom: 5px;
    padding: 2px;
    border: black solid 1px;
}

#energy-button:hover{
    cursor: pointer;
}

#energy-button:disabled{
    cursor:default;
}