@import url("https://fonts.googleapis.com/css2?family=Playfair+Display:ital,wght@0,400;0,700;0,900;1,400;1,700;1,900&display=swap");
button:hover {
  cursor: pointer;
}

.navbar {
  height: fit-content;
  width: 100%;
  position: relative;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  padding: 2rem 8%;
  background-color: transparent;
}

.navbar-logo {
  height: auto;
  width: 4rem;
  float: left;
}
.navbar-logo img {
  max-width: 4rem;
}

.navbar-menu {
  float: right;
}

.contentscreen {
  position: relative;
  height: 100vh;
  width: 100%;
  overflow: scroll;
}

.snap {
  scroll-snap-type: mandatory;
  scroll-snap-type: y mandatory;
}

span.rating-item-span svg {
  height: 4rem;
  width: auto;
}

.rating {
  position: relative;
  width: 100%;
  display: flex;
  flex-direction: column;
}
.rating.left {
  justify-content: flex-start;
  align-items: flex-start;
}
.rating.center {
  justify-content: center;
  align-items: center;
}
.rating.right {
  justify-content: flex-end;
  align-items: flex-end;
}

h1 {
  font-family: "Playfair Display", serif;
  font-size: 6rem;
}
h1.playfair {
  font-family: "Playfair Display", serif;
  font-weight: 900;
}
h1.playfair-italic {
  font-family: "Playfair Display", serif;
  font-style: italic;
}
h1.avenir {
  font-family: "Avenir-Black", sans-serif;
}
h1.avenir-italic {
  font-family: "Avenir-Black-Italic", sans-serif;
  font-style: italic;
}
h1.inline {
  display: inline;
}
h1.right {
  text-align: right;
}
h1.large {
  font-size: 8rem;
}

h2 {
  font-family: "Playfair Display", serif;
  font-size: 4.5rem;
}
h2.playfair {
  font-family: "Playfair Display", serif;
  font-weight: 700;
}
h2.playfair-italic {
  font-family: "Playfair Display", serif;
  font-style: italic;
}
h2.avenir {
  font-family: "Avenir-Black", sans-serif;
}
h2.avenir-italic {
  font-family: "Avenir-Black-Italic", sans-serif;
  font-style: italic;
}
h2.inline {
  display: inline;
}
h2.right {
  text-align: right;
}

h3 {
  font-family: "Avenir-Black", sans-serif;
  font-size: 3rem;
}
h3.playfair {
  font-family: "Playfair Display", serif;
  font-weight: 700;
}
h3.playfair-italic {
  font-family: "Playfair Display", serif;
  font-style: italic;
}
h3.avenir {
  font-family: "Avenir-Black", sans-serif;
}
h3.avenir-italic {
  font-family: "Avenir-Black-Italic", sans-serif;
  font-style: italic;
}
h3.inline {
  display: inline;
}
h3.right {
  text-align: right;
}

h4 {
  font-family: "Avenir-Black", sans-serif;
  font-size: 2rem;
}
h4.playfair {
  font-family: "Playfair Display", serif;
  font-weight: 400;
}
h4.playfair-italic {
  font-family: "Playfair Display", serif;
  font-style: italic;
}
h4.avenir {
  font-family: "Avenir-Book", sans-serif;
}
h4.avenir-italic {
  font-family: "Avenir-Book-Italic", sans-serif;
  font-style: italic;
}
h4.inline {
  display: inline;
}
h4.right {
  text-align: right;
}

p {
  font-family: "Avenir-Book", sans-serif;
  font-size: 1rem;
}
p.playfair {
  font-family: "Playfair Display", serif;
  font-weight: 400;
}
p.playfair-italic {
  font-family: "Playfair Display", serif;
  font-style: italic;
}
p.avenir {
  font-family: "Avenir-Book", sans-serif;
}
p.avenir-italic {
  font-family: "Avenir-Book-Italic", sans-serif;
  font-style: italic;
}
p.mini {
  font-size: 0.75rem;
}
p.inline {
  display: inline;
}
p.right {
  text-align: right;
}

.homepage-hero {
  position: relative;
  height: 100vh;
  width: 100%;
  scroll-snap-align: start;
  padding: 5% 10%;
}

#homepage-hero-title1 {
  color: #000000;
}

#homepage-hero-title2 {
  color: #000000;
}

#homepage-hero-title3 {
  color: #F0F3BD;
}

.homepage-survey {
  position: relative;
  height: 100vh;
  width: 100%;
  scroll-snap-align: start;
}
.homepage-survey-content {
  padding: 5% 10%;
}

#homepage-survey-title {
  margin-bottom: 2rem;
}

#homepage-survey-question {
  margin-bottom: 4rem;
}

.fillAnimation {
  transform: translateY(100vh);
  animation-name: fillAction;
  animation-iteration-count: 1;
  animation-timing-function: cubic-bezier(0.2, 0.6, 0.8, 0.4);
  animation-duration: 4s;
  animation-fill-mode: forwards;
  animation-delay: 0.25s;
}

.pourAnimation {
  width: 2rem;
  position: absolute;
  left: 50%;
  bottom: 0;
  top: 0;
  background-color: #00A3E1;
  background-image: linear-gradient(315deg, #00A3E1 0%, #4884ee 74%);
  animation-name: pourAction;
  animation-timing-function: linear;
  animation-duration: 0.25s;
}

#waveShape {
  animation-name: waveAction;
  animation-iteration-count: infinite;
  animation-timing-function: linear;
  animation-duration: 0.5s;
}

@keyframes pourAction {
  0% {
    transform: translateY(-100%);
  }
  100% {
    transform: translateY(100%);
  }
}
@keyframes fillAction {
  0% {
    transform: translateY(150px);
  }
  100% {
    transform: translateY(-5px);
  }
}
@keyframes waveAction {
  0% {
    transform: translate(-150px, 0);
  }
  100% {
    transform: translate(0, 0);
  }
}
@font-face {
  font-family: "Avenir-Book";
  src: local("Avenir-Book"), url("./assets/fonts/Avenir-Book.ttf") format("truetype");
}
@font-face {
  font-family: "Avenir-Book-Italic";
  src: local("Avenir-BookOblique"), url("./assets/fonts/Avenir-BookOblique.ttf") format("truetype");
}
@font-face {
  font-family: "Avenir-Black";
  src: local("Avenir-Black"), url("./assets/fonts/Avenir-Black.ttf") format("truetype");
}
@font-face {
  font-family: "Avenir-Black-Italic";
  src: local("Avenir-BlackOblique"), url("./assets/fonts/Avenir-BlackOblique.ttf") format("truetype");
}
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  border: 0;
  outline: 0;
  background: transparent;
}

body {
  font-family: Arial, Helvetica, sans-serif;
  font-size: medium;
  font-style: normal;
  font-weight: 400;
}

a {
  text-decoration: none;
}

/*# sourceMappingURL=App.css.map */
