@import url("https://fonts.googleapis.com/css2?family=Playfair+Display:ital,wght@0,400;0,700;0,900;1,400;1,700;1,900&display=swap");
button:hover {
  cursor: pointer;
}

.navbar {
  height: fit-content;
  width: 100%;
  position: relative;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  padding: 2rem 8%;
  background-color: transparent;
}

.navbar-logo {
  height: auto;
  width: 4rem;
  float: left;
}
.navbar-logo img {
  max-width: 4rem;
}

.navbar-menu {
  float: right;
}

.contentscreen {
  position: relative;
  width: 100%;
  overflow: scroll;
}

.snap {
  height: 100vh;
  scroll-snap-type: mandatory;
  scroll-snap-type: y mandatory;
}

.normalscreen {
  position: relative;
  width: 100%;
}

span.rating-item-span svg {
  height: 4rem;
  width: auto;
}

.rating {
  position: relative;
  width: 100%;
  display: flex;
  flex-direction: column;
}
.rating.left {
  justify-content: flex-start;
  align-items: flex-start;
}
.rating.center {
  justify-content: center;
  align-items: center;
}
.rating.right {
  justify-content: flex-end;
  align-items: flex-end;
}

h1 {
  font-family: "Playfair Display", serif;
  font-size: 6rem;
}
h1.playfair {
  font-family: "Playfair Display", serif;
  font-weight: 900;
}
h1.playfair-italic {
  font-family: "Playfair Display", serif;
  font-style: italic;
}
h1.avenir {
  font-family: "Avenir-Black", sans-serif;
}
h1.avenir-italic {
  font-family: "Avenir-Black-Italic", sans-serif;
  font-style: italic;
}
h1.inline {
  display: inline;
}
h1.right {
  text-align: right;
}
h1.large {
  font-size: 8rem;
}

h2 {
  font-family: "Playfair Display", serif;
  font-size: 4.5rem;
}
h2.playfair {
  font-family: "Playfair Display", serif;
  font-weight: 700;
}
h2.playfair-italic {
  font-family: "Playfair Display", serif;
  font-style: italic;
}
h2.avenir {
  font-family: "Avenir-Black", sans-serif;
}
h2.avenir-italic {
  font-family: "Avenir-Black-Italic", sans-serif;
  font-style: italic;
}
h2.inline {
  display: inline;
}
h2.right {
  text-align: right;
}

h3 {
  font-family: "Avenir-Black", sans-serif;
  font-size: 3rem;
}
h3.playfair {
  font-family: "Playfair Display", serif;
  font-weight: 700;
}
h3.playfair-italic {
  font-family: "Playfair Display", serif;
  font-style: italic;
}
h3.avenir {
  font-family: "Avenir-Black", sans-serif;
}
h3.avenir-italic {
  font-family: "Avenir-Black-Italic", sans-serif;
  font-style: italic;
}
h3.inline {
  display: inline;
}
h3.right {
  text-align: right;
}

h4 {
  font-family: "Avenir-Black", sans-serif;
  font-size: 2rem;
}
h4.playfair {
  font-family: "Playfair Display", serif;
  font-weight: 400;
}
h4.playfair-italic {
  font-family: "Playfair Display", serif;
  font-style: italic;
}
h4.avenir {
  font-family: "Avenir-Book", sans-serif;
}
h4.avenir-italic {
  font-family: "Avenir-Book-Italic", sans-serif;
  font-style: italic;
}
h4.inline {
  display: inline;
}
h4.right {
  text-align: right;
}

p {
  font-family: "Avenir-Book", sans-serif;
  font-size: 1rem;
}
p.playfair {
  font-family: "Playfair Display", serif;
  font-weight: 400;
}
p.playfair-italic {
  font-family: "Playfair Display", serif;
  font-style: italic;
}
p.avenir {
  font-family: "Avenir-Book", sans-serif;
}
p.avenir-italic {
  font-family: "Avenir-Book-Italic", sans-serif;
  font-style: italic;
}
p.mini {
  font-size: 0.75rem;
}
p.inline {
  display: inline;
}
p.right {
  text-align: right;
}

.blue1text {
  color: #84D2F6;
}

.blue2text {
  color: #00A3E1;
}

.blue3text {
  color: #4884ee;
}

.blue4text {
  color: #133C55;
}

.blacktext {
  color: #000000;
}

.whitetext {
  color: #FFFFFF;
}

.offwhitetext {
  color: #F6FFF8;
}

.creamtext {
  color: #F0F3BD;
}

.redtext {
  color: #E85D75;
}

.homepage {
  background: url("/src/assets/images/textile-background.jpg") left top no-repeat;
  box-shadow: inset 0 0 0 1000px rgba(255, 255, 255, 0.5);
}

.homepage-hero {
  position: relative;
  height: 100vh;
  width: 100%;
  scroll-snap-align: start;
  padding: 5% 10%;
}

.homepage-survey {
  position: relative;
  height: 100vh;
  width: 100%;
  scroll-snap-align: start;
}
.homepage-survey-content {
  padding: 5% 10%;
}

#homepage-survey-title {
  margin-bottom: 2rem;
}

#homepage-survey-question {
  margin-bottom: 4rem;
}

.pourAnimation {
  height: 0vh;
  width: 4rem;
  position: absolute;
  top: 0px;
  left: 50%;
  background-color: #00A3E1;
  background-image: linear-gradient(315deg, #00A3E1 0%, #4884ee 74%);
}

.pourAnimation[animation="1"] {
  animation-name: pourAction;
  animation-timing-function: linear;
  animation-duration: 0.65s;
  animation-fill-mode: forwards;
}

@keyframes pourAction {
  0% {
    height: 0%;
  }
  100% {
    height: 120vh;
    max-height: 120vh;
  }
}
.fillAnimation {
  position: absolute;
  transform: translateY(0vh);
  display: none;
}

.fillAnimation[animation="1"] {
  animation-name: fillAction;
  animation-iteration-count: 1;
  animation-timing-function: cubic-bezier(0.2, 0.6, 0.8, 0.4);
  animation-duration: 4s;
  animation-fill-mode: forwards;
  animation-delay: 0.45s;
  display: block;
}

@keyframes fillAction {
  0% {
    transform: translateY(0vh);
  }
  100% {
    transform: translateY(-150vh);
  }
}
#waveShape {
  animation-name: waveAction;
  animation-iteration-count: infinite;
  animation-timing-function: linear;
  animation-duration: 0.5s;
}

@keyframes waveAction {
  0% {
    transform: translate(-927px, 0);
  }
  100% {
    transform: translate(-309px, 0);
  }
}
.infopage1-background {
  background-color: #00A3E1;
}

.infopage1 {
  animation: fadeInAnimation ease 3s;
  animation-iteration-count: 1;
  animation-fill-mode: forwards;
}

@keyframes fadeInAnimation {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
.floatingScrollArrow {
  position: fixed;
  bottom: 4rem;
  right: 4rem;
  animation: floating 3s ease-in-out infinite;
}
.floatingScrollArrow svg {
  height: 4rem;
  width: auto;
}

@keyframes floating {
  0% {
    bottom: 4rem;
  }
  50% {
    bottom: 6rem;
  }
  100% {
    bottom: 4rem;
  }
}
.teeshirtcontent {
  padding: 4rem 10%;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

.teeshirtcontent-left {
  flex: 1;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}

.teeshirtcontent-left svg {
  height: 16rem;
  width: auto;
  padding: 1rem 2rem;
}

.teeshirtcontent-right {
  flex: 1;
}

.emptydivspace {
  height: 100vh;
  width: 100%;
  padding: 0 20%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.bleachingcontent, .dyeingcontent, .printingcontent, .finishingcontent {
  height: 100vh;
  width: 100%;
  padding: 0 4rem 0 45%;
}

.content-wrapper {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: baseline;
  box-shadow: inset 0 0 0 1000px rgba(11, 127, 171, 0.8);
  border-radius: 1rem;
  padding: 2rem 1rem;
}

.stickyCupsBackground {
  padding: 0 1rem;
  position: sticky;
  top: 0;
}
.stickyCupsBackground svg {
  height: 3.2rem;
  width: auto;
  margin: 0.1rem 0.15rem;
  opacity: 0.5;
}

.postinfopage1 {
  height: auto;
  width: 100%;
  position: relative;
  background-color: #00A3E1;
  padding: 10rem 4rem 10rem 4rem;
  display: flex;
  justify-content: center;
  align-items: center;
}
.postinfopage1-content {
  text-align: center;
}

.leftlinebordertext {
  position: relative;
  text-align: start;
  border-left: 4px solid #FFFFFF;
  padding: 2rem 40% 2rem 1rem;
  margin-top: 10rem;
}

#think {
  text-align: start;
  margin-top: 10rem;
}

#bigger {
  font-family: "Avenir-Black", sans-serif;
  font-size: 20rem;
}

.infopage2 {
  position: relative;
  height: auto;
  width: 100vw;
}
.infopage2-wrapper {
  height: 200vh;
}
.infopage2-wrapper2 {
  position: relative;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

.stickyscroll1, .stickyscroll2, .waterdrop50, .california {
  position: relative;
  height: 100vh;
  width: 100%;
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.bigSVG {
  height: 32rem;
  max-height: 32rem;
  width: 32rem;
  max-width: 32rem;
}
.bigSVG svg {
  height: 32rem;
  max-height: 32rem;
  width: 32rem;
  max-width: 32rem;
}

.emptyspace {
  height: 40vh;
}

#source {
  margin-bottom: 5rem;
}

#toInfo3 {
  text-align: center;
  padding: 0 4rem;
  margin-bottom: 5rem;
}

.stickyscroll1 {
  position: sticky;
  top: 0;
  animation: pushLeft 1s linear infinite;
  animation-play-state: paused;
  animation-delay: calc(var(--scroll) * -1s);
  animation-iteration-count: 1;
  animation-fill-mode: forwards;
}

@keyframes pushLeft {
  to {
    transform: translateX(-50vw);
  }
}
.stickyscroll2 {
  position: sticky;
  top: 0;
  animation: pushLeftOutside 1s linear infinite;
  animation-play-state: paused;
  animation-delay: calc(var(--scroll) * -1s);
  animation-iteration-count: 1;
  animation-fill-mode: forwards;
}

@keyframes pushLeftOutside {
  from {
    transform: translateX(50vw);
  }
  to {
    transform: translateX(-20vw);
  }
}
.top-level-div {
  padding: 0px 0px 40px 20px;
}

.takeaways-div {
  display: flex;
}

.takeaway-div {
  width: 200px;
  margin: 10px;
  height: 600px;
  background-color: #F6FFF8;
  overflow: hidden;
  position: relative;
}

.takeaway-img {
  position: absolute;
  opacity: 0.6;
  width: 180px;
  height: 330px;
}

.takeaway-text {
  position: absolute;
  top: 280px;
  padding: 10px;
}

.takeaway-header {
  color: white;
}

.tip-div {
  margin: 10px;
  padding: 20px 40px;
  border-radius: 1px;
  background-color: #F6FFF8;
}

@font-face {
  font-family: "Avenir-Book";
  src: local("Avenir-Book"), url("./assets/fonts/Avenir-Book.ttf") format("truetype");
}
@font-face {
  font-family: "Avenir-Book-Italic";
  src: local("Avenir-BookOblique"), url("./assets/fonts/Avenir-BookOblique.ttf") format("truetype");
}
@font-face {
  font-family: "Avenir-Black";
  src: local("Avenir-Black"), url("./assets/fonts/Avenir-Black.ttf") format("truetype");
}
@font-face {
  font-family: "Avenir-Black-Italic";
  src: local("Avenir-BlackOblique"), url("./assets/fonts/Avenir-BlackOblique.ttf") format("truetype");
}
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  border: 0;
  outline: 0;
  background: transparent;
}

body {
  font-family: Arial, Helvetica, sans-serif;
  font-size: medium;
  font-style: normal;
  font-weight: 400;
}

a {
  text-decoration: none;
}

/*# sourceMappingURL=App.css.map */
